@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ccfbf1; /* teal-100 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #14b8a6; /* teal-500 */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

input[type="range"]::-webkit-slider-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background: #14b8a6;
  cursor: pointer;
  appearance: none;
  margin-top: -6px;
}

input[type="range"]::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background: #14b8a6;
  cursor: pointer;
}
